In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("2017-2018assists.csv")
df2 = pd.read_csv("2017-2018defensive.csv")
df3 = pd.read_csv("2017-2018passes.csv")
df4 = pd.read_csv("2017-2018possession.csv")
df5 = pd.read_csv("2017-2018shoots.csv")
df6 = pd.read_csv("2017-2018porteros.csv")

### Asistencias

In [3]:
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,SCA,SCA.1,...,GCA,GCA.1,GCA Types,GCA Types.1,GCA Types.2,GCA Types.3,GCA Types.4,GCA Types.5,Unnamed: 24,-additional
0,Rk,Player,Nation,Pos,Squad,Age,Born,90s,SCA,SCA90,...,GCA,GCA90,PassLive,PassDead,TO,Sh,Fld,Def,Matches,-9999
1,1,Aly Abeid,mr MTN,DF,Levante,19,1997,0.9,2,2.34,...,0,0.00,0,0,0,0,0,0,Matches,bbe88396
2,2,Antonio Adán,es ESP,GK,Betis,30,1987,30.0,5,0.17,...,2,0.07,1,1,0,0,0,0,Matches,65d62814
3,3,Aday,es ESP,DF,Girona,29,1987,20.4,56,2.75,...,3,0.15,3,0,0,0,0,0,Matches,5890cef1
4,4,Aritz Aduriz,es ESP,FW,Athletic Club,36,1981,23.9,35,1.46,...,2,0.08,2,0,0,0,0,0,Matches,293211e1

In [4]:
df1_1 = df1.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 24","-additional"], axis = 1)
df1_1.columns = list(df1_1.iloc[0])
df1_2 = df1_1.drop([0], axis = 0)

### Defensa

In [5]:
#Cambian las categorias con respecto a 2018-2019 (No hay pressure)
df2_1 = df2.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 24","-additional"], axis = 1)
df2_1.columns = list(df2_1.iloc[0])
df2_2 = df2_1.drop([0], axis = 0)

### Pases

In [6]:
df3_1 = df3.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 31","-additional"], axis = 1)
df3_1.columns = list(df3_1.iloc[0])
df3_2 = df3_1.drop([0], axis = 0)

### Posesion

In [7]:
df4_1 = df4.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 30","-additional"], axis = 1)
df4_1.columns = list(df4_1.iloc[0])
df4_2 = df4_1.drop([0], axis = 0)

### Tiros

In [8]:
df5_1 = df5.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 25","-additional"], axis = 1)
df5_1.columns = list(df5_1.iloc[0])
df5_2 = df5_1.drop([0], axis = 0)

### Portero

In [9]:
df6_1 = df6.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 26","-additional"], axis = 1)
df6_1.columns = list(df6_1.iloc[0])
df6_2 = df6_1.drop([0], axis = 0)

In [10]:
df = pd.concat([df1_2,df2_2,df3_2,df4_2,df5_2], axis = 1)

In [11]:
#df_names = df[['NAME']]
##df[df['NAME']=="Vinicius Júnior"]

In [12]:
#df_names.to_excel('nombres_stats_2017_2018.xlsx')

In [13]:
def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b).replace(a.upper(), b.upper())
    return s

In [14]:
## Le quito las tildes
#LISTA = df["NAME"].to_list()
#for i in range(len(LISTA)):
#    LISTA[i] = normalize(LISTA[i])
#df["NAME"] = LISTA

In [15]:
#valoraciones_2019 = pd.read_csv("Valoraciones_2019.csv")
#valoraciones_2019.head()

In [16]:
valoraciones_2019 = pd.read_csv("Valoraciones_2019.csv")
valoraciones_2019 = valoraciones_2019.drop(['Unnamed: 0'],axis = 1)
valoraciones_2019.columns = ["Player", "VAL"] #Para que la columna de nombres se llame igual
df = df.merge(valoraciones_2019, how = "inner",on = "Player")
df.to_csv("2017-2018_datos_full.csv")