In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("2020-2021assists.csv")
df2 = pd.read_csv("2020-2021defensive.csv")
df3 = pd.read_csv("2020-2021passes.csv")
df4 = pd.read_csv("2020-2021possession.csv")
df5 = pd.read_csv("2020-2021shoots.csv")
df6 = pd.read_csv("2020-2021porteros.csv")

### Asistencias

In [3]:
df1_1 = df1.drop(["Unnamed: 6","Unnamed: 24","-additional", 'SCA Types', 'SCA Types.1','SCA Types.2','SCA Types.3','SCA Types.4','SCA Types.5','GCA Types', 'GCA Types.1','GCA Types.2','GCA Types.3','GCA Types.4','GCA Types.5' ], axis = 1)
df1_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'SCA','SCA90','GCA','GCA90']
df1_2 = df1_1.drop([0], axis = 0)

### Defensa

In [4]:
df2_1 = df2.drop(['Unnamed: 6','Tackles.2', 'Tackles.3','Tackles.4','Vs Dribbles.1','Vs Dribbles.3','Pressures.1','Pressures.3','Pressures.4','Pressures.5','Blocks.1','Blocks.2','Blocks.3', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', '-additional'], axis = 1)
df2_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'TACKLES','TACKLESWIN','VSDRIBLETACKLE','%VSDRIBLETACKLE', 'PRESSURE', '%PRESSUREWIN', 'BLOCKS', 'INTERCEPTIONS']
df2_2 = df2_1.drop([0], axis = 0)

### Pases

In [5]:
df3_1 = df3.drop(['Unnamed: 6','Total.1', 'Total.3','Total.4','Short','Short.1','Short.2','Medium','Medium.1','Medium.2','Long','Long.1','Long.2','Unnamed: 23','Unnamed: 24','Unnamed: 26','Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', '-additional'], axis = 1)
df3_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'TOTALPASSES','%TOTALPASSES','ASSIST','SHOTPASSES']
df3_2 = df3_1.drop([0], axis = 0)

### Posesion

In [6]:
df4_1 = df4.drop(['Unnamed: 6','Touches.1', 'Touches.2','Touches.3','Touches.4','Touches.5','Touches.6','Dribbles.1','Dribbles.3','Dribbles.4','Carries','Carries.2','Carries.3','Carries.4','Carries.5','Carries.6','Carries.7','Receiving.1','Receiving','Receiving.2','Receiving.3', 'Unnamed: 32', '-additional'], axis = 1)
df4_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'TOTALTOUCHES','TOTALDRIBBLES','%TOTALDRIBBLES','DISTANCE']
df4_2 = df4_1.drop([0], axis = 0)

### Tiros

In [7]:
df5_1 = df5.drop(['Unnamed: 6','Standard.2', 'Standard.3','Standard.4','Standard.5','Standard.6','Standard.7','Performance','Performance.1','Expected','Expected.1','Expected.2','Expected.3','Expected.4', 'Unnamed: 25', '-additional'], axis = 1)
df5_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'GOALS','SHOTS','SHOTSONTARGET','FREEKICKS']
df5_2 = df5_1.drop([0], axis = 0)

### Portero

In [8]:
df6_1 = df6.drop(['Unnamed: 6','Playing Time', 'Playing Time.1','Playing Time.2','Performance.1','Performance.4','Unnamed: 16','Unnamed: 17','Unnamed: 18','Performance.5','Performance.6','Performance.7','Penalty Kicks.2','Penalty Kicks.3', 'Unnamed: 26', '-additional'], axis = 1)
df6_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'GOALSAGAINST','SHOTSONTARGETAGAINST','SAVES', 'PENALTYALLOWED', 'PENALTYSAVED']
df6_2 = df6_1.drop([0], axis = 0)

In [9]:
df = pd.concat([df1_2,df2_2[df2_2.columns[-8:]],df3_2[df3_2.columns[-4:]],df4_2[df4_2.columns[-4:]],df5_2[df5_2.columns[-4:]]], axis = 1)

In [10]:
df_names = df[['NAME']]

In [11]:
df[df['NAME']=="Álex Martín"]

,ID,NAME,NATION,POSITION,TEAM,AGE,90S,SCA,SCA90,GCA,...,ASSIST,SHOTPASSES,TOTALTOUCHES,TOTALDRIBBLES,%TOTALDRIBBLES,DISTANCE,GOALS,SHOTS,SHOTSONTARGET,FREEKICKS
329,329,Álex Martín,es ESP,DF,Cádiz,22,1.1,0,0.00,0,...,0,0,50,0,NaN,79,0,0,0,0

In [12]:
df_names.to_excel('nombres_stats_2020_2021.xlsx')

In [13]:
def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b).replace(a.upper(), b.upper())
    return s

In [14]:
#Le quito las tildes
LISTA = df["NAME"].to_list()
for i in range(len(LISTA)):
    LISTA[i] = normalize(LISTA[i])
df["NAME"] = LISTA

In [15]:
valoraciones_2022 = pd.read_csv("Valoraciones_2022.csv")
valoraciones_2022 = valoraciones_2022.drop(['Unnamed: 0'],axis = 1)
valoraciones_2022.columns = ["NAME", "VAL"] #Para que la columna de nombres se llame igual
df = df.merge(valoraciones_2022, how = "inner",on = "NAME")
df.to_csv("2020-2021_datos.csv")