In [136]:
import pandas as pd

In [137]:
df15 = pd.read_csv("players_15.csv")
df16 = pd.read_csv("players_16.csv")
df17 = pd.read_csv("players_17.csv")
df18 = pd.read_csv("players_18.csv")
df19 = pd.read_csv("players_19.csv")
df20 = pd.read_csv("players_20.csv")
df21 = pd.read_csv("players_21.csv")
df22 = pd.read_csv("players_21.csv")
df23 = pd.read_csv("FIFA23_official_data.csv")

In [138]:
df23 = df23.sort_values(by ="Name")
df22 = df22.sort_values(by ="short_name")
df21 = df21.sort_values(by ="short_name")
df20 = df20.sort_values(by ="short_name")
df19 = df19.sort_values(by ="short_name")

In [139]:
df23.head(20)
df23[df23['Name'] =='Vallejo']

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Real Face,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause,Kit Number,Best Overall Rating
4792,225161,Vallejo,25,https://cdn.sofifa.net/players/225/161/23_60.png,Spain,https://cdn.sofifa.net/flags/es.png,75,79,Real Madrid CF,https://cdn.sofifa.net/teams/243/30.png,...,Yes,"<span class=""pos pos28"">SUB","Jul 31, 2015",NaN,2024,184cm,79kg,€14.9M,5.0,NaN

In [140]:
df15 = df15[['short_name','league_name','player_positions','overall']]
df15 = df15[df15['league_name'] == 'Spain Primera Division']
df16 = df16[['short_name','league_name','player_positions','overall']]
df16 = df16[df16['league_name'] == 'Spain Primera Division']
df17 = df17[['short_name','league_name','player_positions','overall']]
df17 = df17[df17['league_name'] == 'Spain Primera Division']
df18 = df18[['short_name','league_name','player_positions','overall']]
df18 = df18[df18['league_name'] == 'Spain Primera Division']
df19 = df19[['short_name','league_name','player_positions','overall']]
df19 = df19[df19['league_name'] == 'Spain Primera Division']
df20 = df20[['short_name','league_name','player_positions','overall']]
df20 = df20[df20['league_name'] == 'Spain Primera Division']
df21 = df21[['short_name','league_name','player_positions','overall']]
df21 = df21[df21['league_name'] == 'Spain Primera Division']
df22 = df22[['short_name','league_name','player_positions','overall']]
df22 = df22[df22['league_name'] == 'Spain Primera Division']
df23 = pd.DataFrame(df23)
df23 = df23[['Name','Club','Overall']]
df23 = df23[df23.Club.isin(['Elche CF','Getafe CF','Cádiz CF','Valencia CF','RCD Espanyol de Barcelona','Unión Deportiva Almería','Girona FC','Girona FC','RCD Mallorca','CA Osasuna','Sevilla FC','Real Madrid CF','Real Sociedad','Real Valladolid CF','Atlético de Madrid','FC Barcelona','Real Betis Balompié','Rayo Vallecano','Villarreal CF','Athletic Club de Bilbao'])]
#df23 = df23[df23['Club'] in ['Elche CF','Getafe CF','Cádiz CF','Valencia CF','RCD Espanyol de Barcelona','Unión Deportiva Almería','Girona FC','Girona FC','RCD Mallorca','CA Osasuna','Sevilla FC','Real Madrid CF','Real Sociedad','Real Valladolid CF','Atlético de Madrid','FC Barcelona','Real Betis Balompié','Rayo Vallecano','Villarreal CF','Athletic Club de Bilbao']]

In [144]:
#EN LAS SIGUIENTES LINEAS limpio de asteriscos los nombres buenos

In [143]:
nombres_23 = pd.read_excel("nombres_a_reemplazar_2021_2022_2023.xlsx")
nombres_23_lista = nombres_23["NOMBRES FIFA"].to_list()
val_23_lista = df23["Overall"].to_list()
for i in range(len(nombres_23_lista)):
        if type(nombres_23_lista[i]) == str :
            if len(nombres_23_lista[i]) > 1: # Si es un nombre, le quito " *"
                nombres_23_lista[i] = nombres_23_lista[i][:-2]
            else : # Si es un "-"
                nombres_23_lista[i] = ""
        else: # Si es un 1
            nombres_23_lista[i] = ""

zipped = list(zip(nombres_23_lista, val_23_lista))
data23 = pd.DataFrame(zipped, columns=['Name', 'Val'])
data23.to_csv("Valoraciones_2023.csv")

In [94]:
nombres_22 = pd.read_excel("nombres_a_reemplazar_2020_2021_2022.xlsx")
nombres_22_lista = nombres_22["NOMBRES FIFA"].to_list()
val_22_lista = df22["overall"].to_list()
for i in range(len(nombres_22_lista)):
        if type(nombres_22_lista[i]) == str :
            if len(nombres_22_lista[i]) > 1: # Si es un nombre, le quito " *"
                nombres_22_lista[i] = nombres_22_lista[i][:-2]
            else : # Si es un "-"
                nombres_22_lista[i] = ""
        else: # Si es un 1
            nombres_22_lista[i] = ""

zipped = list(zip(nombres_22_lista, val_22_lista))
data22 = pd.DataFrame(zipped, columns=['Name', 'Val'])
data22.to_csv("Valoraciones_2022.csv")

In [55]:
nombres_21 = pd.read_excel("nombres_a_reemplazar_2019_2020_2021.xlsx")
nombres_21_lista = nombres_21["NOMBRES FIFA"].to_list()
val_21_lista = df21["overall"].to_list()
for i in range(len(nombres_21_lista)):
        if type(nombres_21_lista[i]) == str :
            if len(nombres_21_lista[i]) > 1: # Si es un nombre, le quito " *"
                nombres_21_lista[i] = nombres_21_lista[i][:-2]
            else : # Si es un "-"
                nombres_21_lista[i] = ""
        else: # Si es un 1
            nombres_21_lista[i] = ""

zipped = list(zip(nombres_21_lista, val_21_lista))
data21 = pd.DataFrame(zipped, columns=['Name', 'Val'])
data21.to_csv("Valoraciones_2021.csv")

In [56]:
nombres_20 = pd.read_excel("nombres_a_reemplazar_2018_2019_2020.xlsx")
nombres_20_lista = nombres_20["NOMBRES FIFA"].to_list()
val_20_lista = df20["overall"].to_list()
for i in range(len(nombres_20_lista)):
        if type(nombres_20_lista[i]) == str :
            if len(nombres_20_lista[i]) > 1: # Si es un nombre, le quito " *"
                nombres_20_lista[i] = nombres_20_lista[i][:-2]
            else : # Si es un "-"
                nombres_20_lista[i] = ""
        else: # Si es un 1
            nombres_20_lista[i] = ""

zipped = list(zip(nombres_20_lista, val_20_lista))
data20 = pd.DataFrame(zipped, columns=['Name', 'Val'])
data20.to_csv("Valoraciones_2020.csv")

In [57]:
nombres_19 = pd.read_excel("nombres_a_reemplazar_2017_2018_2019.xlsx")
nombres_19_lista = nombres_19["NOMBRES FIFA"].to_list()
val_19_lista = df19["overall"].to_list()
for i in range(len(nombres_19_lista)):
        if type(nombres_19_lista[i]) == str :
            if len(nombres_19_lista[i]) > 1: # Si es un nombre, le quito " *"
                nombres_19_lista[i] = nombres_19_lista[i][:-2]
            else : # Si es un "-"
                nombres_19_lista[i] = ""
        else: # Si es un 1
            nombres_19_lista[i] = ""

zipped = list(zip(nombres_19_lista, val_19_lista))
data19 = pd.DataFrame(zipped, columns=['Name', 'Val'])
data19.to_csv("Valoraciones_2019.csv")

In [101]:
df23.to_csv('valoraciones2023.csv')
df23 = df23[['Name']]
df23.to_excel('nombres_val_2023.xlsx')

In [58]:
df22.to_csv('valoraciones2022.csv')
df22 = df22[['short_name']]
df22.to_excel('nombres_val_2022.xlsx')

In [59]:
df21.to_csv('valoraciones2021.csv')
df21 = df21[['short_name']]
df21.to_excel('nombres_val_2021.xlsx')

In [60]:
df20.to_csv('valoraciones2020.csv')
df20 = df20[['short_name']]
df20.to_excel('nombres_val_2020.xlsx')

In [61]:
df19.to_csv('valoraciones2019.csv')
df19 = df19[['short_name']]
df19.to_excel('nombres_val_2019.xlsx')