In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("2017-2018assists.csv")
df2 = pd.read_csv("2017-2018defensive.csv")
df3 = pd.read_csv("2017-2018passes.csv")
df4 = pd.read_csv("2017-2018possession.csv")
df5 = pd.read_csv("2017-2018shoots.csv")
df6 = pd.read_csv("2017-2018porteros.csv")

### Asistencias

In [4]:
df1_1 = df1.drop(["Unnamed: 6","Unnamed: 24","-additional", 'SCA Types', 'SCA Types.1','SCA Types.2','SCA Types.3','SCA Types.4','SCA Types.5','GCA Types', 'GCA Types.1','GCA Types.2','GCA Types.3','GCA Types.4','GCA Types.5' ], axis = 1)
df1_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'SCA','SCA90','GCA','GCA90']
df1_2 = df1_1.drop([0], axis = 0)

### Defensa

In [5]:
#Cambian las categorias con respecto a 2018-2019 (No hay pressure)
df2_1 = df2.drop(['Unnamed: 6','Tackles.2', 'Tackles.3','Tackles.4','Challenges.1','Challenges.3','Blocks.1','Blocks.2','Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', '-additional'], axis = 1)
df2_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'TACKLES','TACKLESWIN','VSDRIBLETACKLE','%VSDRIBLETACKLE', 'BLOCKS', 'INTERCEPTIONS']
df2_2 = df2_1.drop([0], axis = 0)

### Pases

In [6]:
df3_1 = df3.drop(['Unnamed: 6','Total.1', 'Total.3','Total.4','Short','Short.1','Short.2','Medium','Medium.1','Medium.2','Long','Long.1','Long.2','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',  '-additional'], axis = 1)
df3_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'TOTALPASSES','%TOTALPASSES','ASSIST','SHOTPASSES']
df3_2 = df3_1.drop([0], axis = 0)

### Posesion

In [7]:
df4_1 = df4.drop(['Unnamed: 6','Touches.1', 'Touches.2','Touches.3','Touches.4','Touches.5','Touches.6','Take-Ons.1','Take-Ons.3','Take-Ons.4','Carries','Carries.2','Carries.3','Carries.4','Carries.5','Carries.6','Carries.7','Receiving','Receiving.1', 'Unnamed: 30', '-additional'], axis = 1)
df4_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'TOTALTOUCHES','TOTALDRIBBLES','%TOTALDRIBBLES','DISTANCE']
df4_2 = df4_1.drop([0], axis = 0)

### Tiros

In [8]:
df5_1 = df5.drop(['Unnamed: 6', 'Standard.3','Standard.4','Standard.5','Standard.6','Standard.7','Standard.8','Standard.10','Standard.11','Expected','Expected.1','Expected.2','Expected.3','Expected.4', 'Unnamed: 25', '-additional'], axis = 1)
df5_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'GOALS','SHOTS','SHOTSONTARGET','FREEKICKS']
df5_2 = df5_1.drop([0], axis = 0)

### Portero

In [9]:
df6_1 = df6.drop(['Unnamed: 6','Playing Time', 'Playing Time.1','Playing Time.2','Performance.1','Performance.4','Performance.5','Performance.6','Performance.7', 'Performance.8', 'Performance.9', 'Penalty Kicks','Penalty Kicks.3','Penalty Kicks.4', 'Unnamed: 26', '-additional'], axis = 1)
df6_1.columns = ['ID', 'NAME', 'NATION', 'POSITION', 'TEAM', 'AGE', '90S', 'GOALSAGAINST','SHOTSONTARGETAGAINST','SAVES', 'PENALTYALLOWED', 'PENALTYSAVED']
df6_2 = df6_1.drop([0], axis = 0)

In [10]:
df = pd.concat([df1_2,df2_2[df2_2.columns[-6:]],df3_2[df3_2.columns[-4:]],df4_2[df4_2.columns[-4:]],df5_2[df5_2.columns[-4:]]], axis = 1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 1 to 573
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               573 non-null    object
 1   NAME             573 non-null    object
 2   NATION           573 non-null    object
 3   POSITION         573 non-null    object
 4   TEAM             573 non-null    object
 5   AGE              573 non-null    object
 6   90S              573 non-null    object
 7   SCA              572 non-null    object
 8   SCA90            572 non-null    object
 9   GCA              572 non-null    object
 10  GCA90            572 non-null    object
 11  TACKLES          572 non-null    object
 12  TACKLESWIN       573 non-null    object
 13  VSDRIBLETACKLE   572 non-null    object
 14  %VSDRIBLETACKLE  523 non-null    object
 15  BLOCKS           572 non-null    object
 16  INTERCEPTIONS    573 non-null    object
 17  TOTALPASSES      572 non-null    object
 18  %TOTALPASSES     571 non-null    object
 19  ASSIST           573 non-null    object
 20  SHOTPASSES       572 non-null    object
 21  TOTALTOUCHES     572 non-null    object
 22  TOTALDRIBBLES    572 non-null    object
 23  %TOTALDRIBBLES   489 non-null    object
 24  DISTANCE         572 non-null    object
 25  GOALS            573 non-null    object
 26  SHOTS            573 non-null    object
 27  SHOTSONTARGET    573 non-null    object
 28  FREEKICKS        572 non-null    object
dtypes: object(29)
memory usage: 129.9+ KB

In [11]:
df_names = df[['NAME']]
df[df['NAME']=="Ruben"]

Empty DataFrame
Columns: [ID, NAME, NATION, POSITION, TEAM, AGE, 90S, SCA, SCA90, GCA, GCA90, TACKLES, TACKLESWIN, VSDRIBLETACKLE, %VSDRIBLETACKLE, BLOCKS, INTERCEPTIONS, TOTALPASSES, %TOTALPASSES, ASSIST, SHOTPASSES, TOTALTOUCHES, TOTALDRIBBLES, %TOTALDRIBBLES, DISTANCE, GOALS, SHOTS, SHOTSONTARGET, FREEKICKS]
Index: []

[0 rows x 29 columns]

In [12]:
df_names.to_excel('nombres_stats_2017_2018.xlsx')

In [13]:
def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b).replace(a.upper(), b.upper())
    return s

In [13]:
#Le quito las tildes
LISTA = df["NAME"].to_list()
for i in range(len(LISTA)):
    LISTA[i] = normalize(LISTA[i])
df["NAME"] = LISTA

In [14]:
valoraciones_2019 = pd.read_csv("Valoraciones_2019.csv")
valoraciones_2019.head()

   Unnamed: 0               Name  Val
0           0                NaN   73
1           1                NaN   68
2           2       Angel Correa   80
3           3                NaN   62
4           4  Antoine Griezmann   89

In [15]:
valoraciones_2019 = pd.read_csv("Valoraciones_2019.csv")
valoraciones_2019 = valoraciones_2019.drop(['Unnamed: 0'],axis = 1)
valoraciones_2019.columns = ["NAME", "VAL"] #Para que la columna de nombres se llame igual
df = df.merge(valoraciones_2019, how = "inner",on = "NAME")
df.to_csv("2017-2018_datos.csv")